absl-py==2.2.2
ace_tools==0.0
aiofiles==24.1.0
aiohttp==3.9.5
aiosignal==1.3.1
airbase==1.0.0
alembic==1.13.1
altair==5.4.1
annotated-types==0.7.0
anyascii==0.3.2
anyio==4.3.0
appdirs==1.4.4
arabic-reshaper==3.0.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asn1crypto==1.5.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-property==0.2.2
attrs==23.2.0
audioread==3.0.1
Babel==2.14.0
banal==1.0.6
basemap==1.4.1
basemap-data==1.3.2
basemap-data-hires==1.3.2
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.9.0
boto3==1.38.3
botocore==1.38.3
branca==0.8.0
Brotli==1.1.0
cachetools==5.5.0
cairocffi==1.7.1
certifi==2024.2.2
cffi==1.16.0
cftime==1.6.3
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorlog==6.8.2
comm==0.2.2
contourpy==1.2.0
contractions==0.1.73
cryptography==42.0.5
cssselect2==0.7.0
curl_cffi==0.13.0
cycler==0.12.1
Cython==3.1.1
dataset==1.6.2
datasets==2.19.0
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.8
distro==1.9.0
docutils==0.21.2
easyocr @ git+https://github.com/JaidedAI/EasyOCR.git@c4f3cd7225efd4f85451bd8b4a7646ae9a092420
et-xmlfile==1.1.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1704921103267/work
executing==2.0.1
fastjsonschema==2.19.1
fibonacci-heap-mod==1.2
filelock==3.13.4
Flask==3.1.0
flatbuffers==25.2.10
folium==0.18.0
fonttools==4.50.0
formulaic==1.1.1
fqdn==1.5.1
frozendict==2.4.6
frozenlist==1.4.1
fsspec==2024.3.1
gast==0.6.0
geodatasets==2024.8.0
geographiclib==2.0
geopandas==1.0.1
geopy==2.4.1
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
greenlet==3.0.3
grpcio==1.71.0
gtfs-realtime-bindings==1.0.0
h11==0.14.0
h2==4.3.0
h5py==3.13.0
hpack==4.1.0
html5lib==1.1
httpcore==1.0.4
httpx==0.28.1
huggingface-hub==0.26.2
hyperframe==6.1.0
idna==3.6
igraph==0.11.9
imageio==2.37.0
imbalanced-learn==0.12.3
imblearn==0.0
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1710971335535/work
importlib_resources==6.5.2
instaloader==4.14.1
interface-meta==1.3.0
ipykernel==6.29.4
ipython==8.24.0
ipywidgets==8.1.2
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.4.0
json5==0.9.24
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.4
jupyter-server-mathjax==0.2.6
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.13.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.4
jupyterlab_widgets==3.0.10
kaggle==1.7.4.5
kagglehub==0.3.12
kaleido==0.2.1
keras==3.9.2
keyring==25.2.0
kiwisolver==1.4.5
langdetect==1.0.9
lazy_loader==0.4
leidenalg==0.10.2
libclang==18.1.1
librosa==0.11.0
lime==0.2.0.1
linearmodels==6.1
llvmlite==0.43.0
lxml==5.2.1
Mako==1.3.3
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.3
matplotlib-inline==0.1.7
mdurl==0.1.2
MetaTrader5==5.0.5370
mido==1.3.3
mistune==3.0.2
ml_dtypes==0.5.1
more-itertools==10.2.0
mpld3==0.5.10
mpmath==1.3.0
msgpack==1.1.2
multidict==6.0.5
multiprocess==0.70.16
multitasking==0.0.12
mypy_extensions==1.1.0
namex==0.0.9
narwhals==1.13.4
nbclient==0.10.0
nbconvert==7.16.1
nbdime==4.0.2
nbformat==5.10.4
nbmerge==0.0.4
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
netCDF4==1.6.5
networkx==3.3
nh3==0.2.17
ninja==1.11.1.4
nltk==3.9.1
noisereduce==3.0.3
notebook==7.1.2
notebook-as-pdf==0.5.0
notebook_shim==0.2.4
numba==0.60.0
numpy==1.26.4
openaq==0.4.0
opencv-python==4.10.0.84
opencv-python-headless==4.11.0.86
openpyxl==3.1.2
opt_einsum==3.4.0
optree==0.15.0
optuna==3.6.1
oscrypto==1.3.0
outcome==1.3.0.post0
overrides==7.7.0
p2j==1.3.2
packaging==23.2
pandas==2.2.1
pandoc==2.3
pandocfilters==1.5.1
parso==0.8.4
patsy==0.5.6
pdfkit==1.0.0
pdfminer.six==20250327
pdfplumber==0.11.6
peewee==3.18.2
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow==10.2.0
pkginfo==1.10.0
platformdirs==4.2.2
plotly==5.20.0
plumbum==1.8.2
ply==3.11
pooch==1.8.2
postgrest==2.22.1
powerlaw==1.5
pretty-midi==0.2.11
prometheus_client==0.20.0
prompt_toolkit==3.0.45
propcache==0.4.1
protobuf==5.28.3
psutil @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/psutil_1699482842340/work
pure-eval==0.2.2
py4j==0.10.9.7
pyahocorasick==2.1.0
pyarrow==16.0.0
pyarrow-hotfix==0.6
pycairo==1.28.0
pyclipper==1.3.0.post6
pycparser==2.21
pydantic==2.12.3
pydantic_core==2.41.4
pydeck==0.9.1
pydyf==0.9.0
pyee==11.1.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1700607939962/work
pyHanko==0.23.2
pyhanko-certvalidator==0.26.3
pyhdfe==0.2.0
PyJWT==2.10.1
pykalman==0.10.1
PyMuPDF==1.25.1
pynndescent==0.5.13
pyogrio==0.10.0
pyparsing==3.1.2
pypdf==4.2.0
PyPDF2==3.0.1
pypdfium2==4.30.1
pyperclip==1.9.0
pyphen==0.14.0
pypng==0.20220715.0
pyppeteer==2.0.0
pyproj==3.6.1
pyreadr==0.5.3
pyreadstat==1.2.8
pyshp==2.3.1
PySocks==1.7.1
pyspark==3.5.4
pytesseract==0.3.13
python-bidi==0.4.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-dotenv==1.0.1
python-igraph==1.0.0
python-json-logger==2.0.7
python-louvain==0.16
python-pptx==0.6.23
python-slugify==8.0.4
pytz==2024.1
pywin32==306
pywin32-ctypes==0.2.2
pywinpty==2.0.13
PyYAML==6.0.1
pyzbar==0.1.9
pyzmq==26.0.3
qrcode==7.4.2
rdata==1.0.0
readme_renderer==43.0
realtime==2.22.1
redis==5.2.1
referencing==0.34.0
regex==2024.4.28
reportlab==4.0.9
requests==2.31.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.0
s3transfer==0.12.0
safetensors==0.4.3
scikit-base==0.12.2
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.13.0
seaborn==0.13.2
selenium==4.25.0
Send2Trash==1.8.2
sentence-transformers==3.2.1
sentencepiece==0.2.0
setuptools==68.2.2
setuptools-scm==8.3.1
shap==0.46.0
shapely==2.0.6
shellingham==1.5.4
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
slicer==0.0.8
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.5
soxr==1.0.0
spotipy==2.24.0
SQLAlchemy==1.4.54
SQLParserDataPipeline==0.5
stack-data==0.6.3
statsmodels==0.14.2
storage3==2.22.1
streamlit==1.40.1
streamlit_folium==0.23.1
StrEnum==0.4.15
supabase==2.22.1
supabase-auth==2.22.1
supabase-functions==2.22.1
svglib==1.5.1
sympy==1.14.0
tabula-py==2.10.0
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==3.1.0
terminado==0.18.1
tesseract==0.1.3
text-unidecode==1.3
textsearch==0.0.24
texttable==1.7.0
threadpoolctl==3.4.0
tifffile==2025.5.10
tinycss2==1.2.1
tokenizers==0.20.3
toml==0.10.2
torch==2.7.0
torchvision==0.22.0
tornado==6.4
tqdm==4.66.2
traitlets==5.14.3
transformers==4.46.2
trio==0.26.2
trio-websocket==0.11.1
twine==5.0.0
typer==0.15.4
types-python-dateutil==2.9.0.20240316
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2024.1
tzlocal==5.2
umap==0.1.1
umap-learn==0.5.5
uri-template==1.3.0
uritools==4.0.2
urllib3==1.26.18
watchdog==6.0.0
wcwidth==0.2.13
weasyprint==61.2
webcolors==1.13
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.41.2
widgetsnbextension==4.0.10
windrose==1.9.0
wordcloud==1.9.4
wrapt==1.17.2
wsproto==1.2.0
xarray==2024.5.0
xgboost==2.0.3
xhtml2pdf==0.2.15
XlsxWriter==3.2.0
xxhash==3.4.1
xyzservices==2024.9.0
yarl==1.22.0
yfinance==0.2.66
yt-dlp==2025.9.26
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
zopfli==0.2.3
